<?xml version="1.0" encoding="utf-8"?>


<!--相关字段，关键字，常用值配置-->

<appSettings>
  <add key="vs:EnableBrowserLink" value="false"/>
  <!--禁止vs的乱七八糟LinkBrowser Link功能-->
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <!--否则会导致分页时数据被加载两次-->
  <add key="LoginInfo" value="LwsLoginInfo"/>
  <!--管理员登录存储的cooike名字-->

  <!--系统剪切-->
  <add key="webpages:Version" value="3.0.0.0"/>
  <add key="webpages:Enabled" value="false"/>
  <add key="ClientValidationEnabled" value="true"/>
  <!--系统剪切-->

  <!--文件上传路径-->
  <add key="filePath" value="G:\我的项目\Shop\Shop2.0\AdminWeb"  />
  <add key="serverPath" value="http://127.0.0.1:666"/>
  <add key="relativePath" value="http://127.0.0.1:666"/>
  <!--发送邮件的邮箱-->
  <add key="Email" value="wenshang.cool@163.com"/>

  <!--密码加密的密钥字符串-->
  <add key="KeyText" value="liwenshang"/>
</appSettings>


