
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">

        <ol class="breadcrumb">
            <li><a href="/set/admin/center">首页></a></li>
            <li><a href="#">线下></a></li>
            <li class="active">商品消费</li>
        </ol>
        <div class="col-md-10 row">
            <div class="panel panel-primary">
                <div class="panel-heading">商品消费</div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</body>
</html>

